# Settings file automatically used by clang-tidy
#
# See ./contrib/utilities/run_clang_tidy.sh for details

# Rationale for disabling warnings:
#
# - modernize-concat-nested-namespaces: This is c++17 only.
# - performance-inefficient-string-concatenation: We don't care about "a"+to_string(5)+...
# - performance-no-automatic-move: All modern compiler perform the return value optimization and we prefer to keep things const.

Checks: "-*,readability-implicit-bool-conversion"

#WarningsAsErrors: '*'
